.img {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/login.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.login{
  width: 400px;
  height: 600px;
  position: absolute;
  top: calc(50% - 300px);
  right: 200px;
}

.flex-box{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 80%;
}